################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoXML/.vs/DemoXML/v15
/DemoXML/bin/Debug
/DemoXML/obj/Debug
